body, form, h1, h2, h3, input, p, table { margin: 0; }
th, td { padding: 0; }

body { background: #bfb89e url( /i/bg.gif ) repeat-x; padding: 0 0 8px; }
img { border: 0; }
.anchor { color: #000 !important; }
.image { font-size: 1pt; line-height: 0.01pt; }
#all { font-family: arial,serif; font-size: 12px; margin: 33px auto; position: relative;width: 970px; }
#head { position: relative; }
#foot { color: #494323; font-family: arial,sans-serif; font-size: 11px; margin-left: 8px; }
#shell-main { vertical-align: top; }

h1, h2 { font-family: georgia,serif; }
#shell-left, #shell-right { vertical-align: top; }

#head #logo { height: 50px; left: 26px; position: absolute; top: 24px; width: 170px; }
#head #menu-top { background: url( /i/head_bg_row_1.jpg ) no-repeat; font-family: georgia,serif; height: 82px; text-align: right; }
#head #menu-top a { color: #fff; text-decoration: none; }
#head #menu-top a:hover { color: #eee; }
#head #menu-top .inner { padding: 49px 36px 0 0; }
#head #menu-top .inner span { margin: 0 8px; }

#home h1 { display: none; }
#home #bottom-center { color: #dad29f; width: 514px; }
#home #bottom-center h2 { color: #fff; font-size: 12px; font-weight: normal; }
#home #bottom-center .inner { padding: 16px 16px 16px 48px; }
#home #bottom-center .inner div { color: #dad29f; font-size: 11px; margin-top: 10px; }
#home #bottom-center .inner img { margin-right: 4px; position: relative; bottom: 3px; }
#home #bottom-left { width: 208px !important; }
#home #bottom-left .inner { border-right: 2px solid #9b9466; height: 105px; margin: 16px 0 16px 16px; }
#home #bottom-right a { color: #fff; text-decoration: none; }
#home #bottom-right a:hover { text-decoration: underline; }
#home #bottom-right h2 { color: #d9d3a1; font-size: 14px; font-weight: normal; }
#home #bottom-right .inner { padding: 14px 8px 16px 24px; }
#home #bottom-right .inner div { font-size: 11px; line-height: 1.5; margin-top: 10px; position: relative; }
#home #bottom-right .inner div img { left: -13px; position: absolute; top: 4px; }
#home #foot { margin-top: -2px; }
#home #main { background: url( /i/home_bg_row_inner_2.gif ) repeat-y; }
#home #main td { vertical-align: top; }
#home #top-left { background: url( /i/home_bg_tl.jpg ) no-repeat; color: #fff; font-size: 13px; height: 208px; line-height: 1.4; width: 722px; }
#home #top-left .inner { margin: 23px 0 0 335px; position: relative; }
#home #top-left #extend-your-reach { height: 33px; left: -313px; position: absolute; top: -4px; width: 292px; }
#home #top-left #learn-more { height: 19px; left: 0; position: absolute; top: 135px; width: 78px; }
#home #top-right { background: url( /i/home_bg_tr.jpg ) no-repeat; color: #fff; width: 230px; }
#home #top-right a { color: #fff; text-decoration: none; }
#home #top-right a:hover { text-decoration: underline; }
#home #top-right .inner { margin: 18px 15px 12px 24px; }
#home #top-right .inner div { font-size: 11px; line-height: 1.5; margin-top: 10px; position: relative; }
#home #top-right .inner div img { left: -13px; position: absolute; top: 5px; }
#home #top-right .inner h2 { color: #3f2900; font-size: 14px; font-weight: normal; }

#page h1 { color: #4f3d19; font-size: 32px; font-weight: normal; margin-bottom: 2px; }
#page h2 { color: #4f3d19; font-size: 16px; font-weight: normal; margin: 24px 0 -6px; }
#page h3 { color: #4f3d19; }
#page .clients h2 { font-size: 12px; left: 10px; margin: 6px 0 12px; }
#page .clients h2 img { margin-right: 8px; }
#page .clients h3 { font-size: 11px; text-transform: uppercase; margin: 10px 0 3px; }
#page .press-release h2 { margin: 16px 0 18px; }
#page .region { display: none; margin: 0 0 24px 17px; }
#page .region a { text-decoration: none; }
#page .region a:hover { text-decoration: underline; }
#page .testimonials a { color: #4f3d19 !important; }
#page .testimonials div div { margin: 0 0 32px 32px; }
#page .testimonials p { color: #744900; }
#page .testimonials span { color: #000; margin: 0 8px; }
#page #clients { margin-left: 10px; position: relative; }
#page #foot { margin-top: 2px; }
#page #main { width: 100%; }
#page #main-left { background: url( /i/page_bg_main_left.gif ) repeat-y; vertical-align: top; width: 204px; }
#page #main-quote { float: right; position: relative; bottom: 17px; width: 182px; }
#page #main-quote span { left: 15px; position: absolute; top: 20px; }
#page #main-quote .inner { background: url( /i/page_bg_quote_mid.gif ) repeat-y; padding: 14px 14px 10px 22px; }
#page #main-quote #quote { color: #744900; font-family: georgia,serif; font-size: 14px; font-style: italic; line-height: 1.8; width: 90%; }
#page #main-quote #quote-source { margin-top: 16px; font-size: 11px; line-height: 1.4; }
#page #main-right { background: #fff; padding: 31px 0 24px 38px; vertical-align: top; }
#page #main-right #content { float: left; min-height: 239px; width: 500px; }
#page #main-right #content a { color: #744900; }
#page #main-right #content li { line-height: 1.8; margin-bottom: 8px; }
#page #main-right #content p { line-height: 1.8; margin: 14px 0; }
#page #main-right #content p img { padding: 18px 0; }
#page #main-right #content table { margin-top: 14px; }
#page #mark { position: absolute; left: -13px; top: 4px; }
#page #menu-side { margin-top: 18px; width: 100%; }
#page #menu-side td { background: url( /i/page_bg_menu_side_item.gif ) no-repeat; color: #fff; font-family: arial,sans-serif; height: 33px; padding-left: 26px; }
#page #menu-side td a { color: #fff; text-decoration: none; }
#page #menu-side td div { position: relative; bottom: 1px; }
#page #menu-side .level-1 { font-weight: bold; }
#page #menu-side .level-3 { padding-left: 46px !important; }
#page #shell-left { background: url( /i/page_bg_col_1234.gif ) repeat-y; }
#page #shell-right { background: url( /i/page_bg_col_5678.gif ) repeat-y; }

.bg-9b9466 { background: #9b9466; }
.bg-fff { background: #fff; }
.c-000 { color: #000 !important; }
.c-b { clear: both !important; }
.d-n { display: none; }
.fs-11 { font-size: 11px; }
.p-r { position: relative; }
.pb-6 { padding-bottom: 6px; }
.pl-36 { padding-left: 36px; }
.pr-16 { padding-right: 16px; }
.ta-c { text-align: center; }
.ta-r { text-align: right; }
.td-n { text-decoration: none; }
.va-t { vertical-align: top; }
.w-2 { width: 2px; }
.w-100 { width: 100px; }
.w-619 { width: 619px; }
.w-100p { width: 100%; }
